{{#numbersfrontpage}}
    <div class="container-fluid frontpage-numbers">
        <div class="row numbersfrontpagetext">
            <div class="col-md-2"> </div>
            <div class="col-md-8"><h3>{{{ numbersfrontpagetext }}}</h3>
			<hr style="border-top: 2px solid #ccc; width: 55%;">
            </div>
            <div class="col-md-2"> </div>
        </div>
    </div>
{{/numbersfrontpage}}