<div class="card-body">
    <h3> "If you have a learning program/course <br>  in mind and need help with rendering it<br>  digitally, we are there to help” </h3>

    <p>If you’s like a program created for you, do reach out us at <a href="mailto:info@iprimed.com" style="color: #5a5a5a;"> info@iprimed.com </a></p>
</div>